* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #696387;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
header {
  background-color: #6943ff;
  color: #fdfcff;
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2.8rem;
  margin-bottom: 10px;
}
#unit-input {
  font-size: 3.5rem;
  font-weight: bold;
  padding: 5px 0px;
  border: 4px solid #8462ff;
  border-radius: 5px;
  margin-bottom: 23px;
  width: 135px;
  text-align: center;
  background-color: #6943ff;
  color: #ffffff;
}

#convert-btn {
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  padding: 10px 35px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
}
#convert-btn:hover {
  background-color: #d9d8d8;
  cursor: pointer;
  padding: 11px 36px;
  margin-top: -1px;
}
#container {
  margin-top: 100px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
converter-card {
  background-color: #ffffff;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.converter-card h2 {
  color: #5a537b;
}
.converter-card p {
  color: #353535;
}
